/* Global */


/* Nav Bar */
.navbar-brand {
  padding-left: 24px;
}

/* Main */
.main-container {
  position: relative;
  top: 50px;
}

/* Jumbotron */
.jumbotron {
  background-image: url('../images/wood-background.jpeg');
  background-size: cover;
  padding: 100px 0;
}

/* Info Section */
.info-section {
  padding-top: 25px;
}

.info i,
.info h3,
.info p,
.info ul {
  padding: 8px 24px;
}

/* Location Section */
.location-section {
  /* background-color: #333030; */
  /* color: white; */
}

.location-info h1,
.location-info p {
  padding: 12px 24px;
}

.location-info {
  padding: 24px;
}

#map {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* .location-map iframe{
  padding-left: 24px;
  padding-bottom: 24px;
} */

/* Blog Section */
.header {
  padding-top: 24px;
}

.blog-post {
  padding-top: 24px;
}

.blog-post-image {
  width: 30%;
  height: auto;
}

.blog-post-content-section {
  width: 70%;
  float: right;
  padding-left: 16px;
  clear: left;
}

.blog-post-title {
  padding-bottom: 2px;
  margin-bottom: 0px;
}

.blog-post-button {
  display: block;
}

.blog-post-date,
.blog-post-posted-by {
  font-size: .80em;
  padding-bottom: 5px;
}

.blog-button {
  margin-top: 36px;
}
